
<app-header></app-header>

<div id="form-container">
  <div class="form">
    <div class="form-content">
      <div class="col-sm-12 ">
        <div class="col-sm-8 div-header">
          <h2 class="header">Enter Patient details</h2>
        </div>

      </div>
      <!-- call submitForm method with all form values if form is valid -->
      <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">

        <div class="form-group">
          <label class="label-name">
            Name:<span class="required">*</span>
          </label>
          <input formControlName="name" id="firstname" class="form-control text-box" type="text" placeholder="NAME">
          <div
            *ngIf="complexForm.get('name').invalid && (complexForm.get('name').dirty || complexForm.get('name').touched) && complexForm.get('name').errors.required"
            id="error-no-firstname" class="alert alert-danger error-msg">
            {{emptyName}}
          </div>
          <div
            *ngIf="complexForm.get('name').invalid && (complexForm.get('name').dirty || complexForm.get('name').touched) && complexForm.get('name').errors.minlength"
            id="error-minlength-firstname" class="alert alert-danger error-msg">
            {{minlengthName}}
          </div>
          <div
            *ngIf="complexForm.get('name').invalid && (complexForm.get('name').dirty || complexForm.get('name').touched) && complexForm.get('name').errors.maxlength"
            id="error-maxlength-firstname" class="alert alert-danger error-msg">
            {{maxlengthName}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-name">Gender:
            <span class="required">*</span>
          </label>
          <div class="input-div">
            <input formControlName="gender" type="radio" id="male" class="input-content" value="Male">
            <label class="label-content" for="male">Male</label>
            <input formControlName="gender" type="radio" id="female" class="input-content" value="Female">
            <label class="label-content" for="female">Female</label>
          </div>
          <div
            *ngIf="complexForm.get('gender').invalid && (complexForm.get('gender').dirty || complexForm.get('gender').touched) && complexForm.get('gender').errors.required"
            id="error-no-gender" class="alert alert-danger error-msg">
            {{noGender}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-name">
            Date of birth:<span class="required">*</span>
          </label>
          <div>
            <input formControlName="dob" id="date-input" class="form-control date-input glyphicon glyphicon-calendar"
              type="date" placeholder="Date of birth" required min="1968-01-01" max="{{today}}">
          </div>
          <div
            *ngIf="complexForm.get('dob').invalid && (complexForm.get('dob').dirty || complexForm.get('dob').touched) && complexForm.get('dob').errors.required"
            id="error-no-dob" class="alert alert-danger error-msg">
            {{noDob}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-name">
            Contact number:<span class="required">*</span>
          </label>
          <input formControlName="mobile" id="mobile" class="form-control text-box" type="number"
            placeholder="mobile number">
          <div
            *ngIf="complexForm.get('mobile').invalid && (complexForm.get('mobile').dirty || complexForm.get('mobile').touched) && complexForm.get('mobile').errors.required"
            id="error-no-mobile" class="alert alert-danger error-msg">
            {{noMobile}}
          </div>
          <div
            *ngIf="complexForm.get('mobile').invalid && (complexForm.get('mobile').dirty || complexForm.get('mobile').touched) && complexForm.get('mobile').errors.pattern"
            id="error-number-mobile" class="alert alert-danger error-msg">
            {{numberMobile}}
          </div>
          <div
            *ngIf="complexForm.get('mobile').invalid && (complexForm.get('mobile').dirty || complexForm.get('mobile').touched) && complexForm.get('mobile').errors.maxlength"
            id="error-maxlength-mobile" class="alert alert-danger error-msg">
            {{maxlengthMobile}}
          </div>
        </div>

        <div class="form-group">
          <label class="label-name" for="email">
            Email:<span class="required">*</span>
          </label>
          <input formControlName="email" id="email" class="form-control text-box" type="email"
            placeholder="example:saran12@tcs.com">
          <div
            *ngIf="complexForm.get('email').invalid && (complexForm.get('email').dirty || complexForm.get('email').touched) && complexForm.get('email').errors.pattern"
            id="error-pattern-email" class="alert alert-danger error-msg">
            {{patternEmail}}
          </div>
        </div>

        <div class="form-group">
          <!-- disable button if form not valid -->
          <button [disabled]="complexForm.invalid" type="submit" id="submit-btn"
            class="btn btn-primary submit-btn">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>



